<div class="header">
  <div class="grid-01">
    <span class="logo">
      Casino
    </span>
  </div>
  <div class="grid-02">
    <span class="burger" (click)="toggle()">
      <div></div>
      <div></div>
      <div></div>
    </span>
    <nav class="navbar" *ngIf="show">
      <ul class="nav">
        <li [routerLink]="['/topgames']" routerLinkActive="router-link-active">Top Games</li>
        <li [routerLink]="['/newgames']" routerLinkActive="router-link-active">New Games</li>
        <li [routerLink]="['/slots']" routerLinkActive="router-link-active">Slots</li>
        <li [routerLink]="['/jackpots']" routerLinkActive="router-link-active">Jackpots</li>
        <li [routerLink]="['/live']" routerLinkActive="router-link-active">Live</li>
        <li [routerLink]="['/blackjack']" routerLinkActive="router-link-active">Blackjack</li>
        <li [routerLink]="['/roulette']" routerLinkActive="router-link-active">Roulette</li>
        <li [routerLink]="['/table']" routerLinkActive="router-link-active">Table</li>
        <li [routerLink]="['/poker']" routerLinkActive="router-link-active">Poker</li>
        <li [routerLink]="['/others']" routerLinkActive="router-link-active">Others</li>
      </ul>
    </nav>

  </div>


</div>
